@model FornecedorModel
@{
    ViewData["Title"] = "Editar fornecedor";
}

<div class="text-center">

    <h1 class="display-4">Editar fornecedor</h1>

</div>

<form asp-controller="Fornecedor" asp-action="Alterar" method="post">

    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do fornecedor">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o e-mail do fornecedor">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="form-group">
        <label for="celular">Celular</label>
        <input type="text" asp-for="Celular" class="form-control" placeholder="Digite o celular do fornecedor">
        @Html.ValidationMessageFor(x => x.Celular)
    </div><div class="form-group">
        <label for="CNPJ">CNPJ</label>
        <input type="number" asp-for="CNPJ" class="form-control" placeholder="Digite o CPF ou CNPJ do fornecedor">
        @Html.ValidationMessageFor(x => x.CNPJ)
    </div>
    <div class="form-group">
        <label for="Endereco_Rua">Rua</label>
        <input asp-for="Endereco.Rua" class="form-control" placeholder="Digite o nome da rua do endereço"/>
        <span asp-validation-for="Endereco.Rua" class="text-danger"></span>
        @Html.ValidationMessageFor(x => x.Endereco.Rua)
    </div>

    <div class="form-group">
        <label for="Endereco_Numero">Número</label>
        <input asp-for="Endereco.Numero" class="form-control" placeholder="Digite o numero do endereço" />
        <span asp-validation-for="Endereco.Numero" class="text-danger"></span>
        @Html.ValidationMessageFor(x => x.Endereco.Numero)
    </div>

    <div class="form-group">
        <label for="Endereco_Complemento">Complemento</label>
        <input asp-for="Endereco.Complemento" class="form-control" placeholder="Digite o complemento do endereço" />
        @Html.ValidationMessageFor(x => x.Endereco.Complemento)
    </div>

    <div class="form-group">
        <label for="Endereco_Bairro">Bairro</label>
        <input asp-for="Endereco.Bairro" class="form-control" placeholder="Digite o bairro do endereço" />
        <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
        @Html.ValidationMessageFor(x => x.Endereco.Bairro)
    </div>

    <div class="form-group">
        <label for="Endereco_Cidade">Cidade</label>
        <input asp-for="Endereco.Cidade" class="form-control" placeholder="Digite a cidade do endereço" />
        <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
        @Html.ValidationMessageFor(x => x.Endereco.Cidade)
    </div>

    <div class="form-group">
        <label for="Endereco_Estado">Estado</label>
        <input asp-for="Endereco.Estado" class="form-control" placeholder="Digite o estado do endereço" />
        <span asp-validation-for="Endereco.Estado" class="text-danger"></span>
        @Html.ValidationMessageFor(x => x.Endereco.Estado)
    </div>

    <div class="form-group">
        <label for="Endereco_Cep">CEP</label>
        <input asp-for="Endereco.CEP" class="form-control" placeholder="Digite o CEP do endereço" />
        <span asp-validation-for="Endereco.CEP" class="text-danger"></span>
        @Html.ValidationMessageFor(x => x.Endereco.CEP)
    </div>
    <button type="submit" class="btn btn-primary btn-block">Alterar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Fornecedor" asp-action="Index" role="button">Voltar</a>

</form>

