@model ClienteModel
@{
    ViewData["Title"] = "Criar cliente";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<div class="text-center">
   
    <h1 class="display-4">Cadastrar cliente</h1>

</div>

<form asp-controller="Cliente" asp-action="Criar" method="post">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }
    <div class="form-group">
        <label for="nome">Nome<span class="text-danger">*</span></label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do cliente">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>   
    <div class="form-group">
        <label for="email">E-mail<span class="text-danger">*</span></label></label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o e-mail do cliente">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="form-group">
        <label for="celular">Celular<span class="text-danger">*</span></label>
        <input type="text" asp-for="Celular" id="Celular" class="form-control" placeholder="Digite o celular do cliente" minlength="15" maxlength="15">
        @Html.ValidationMessageFor(x => x.Celular)
    </div>  
    <div class="form-group">
        <label for="CPF_CNPJ">CPF<span class="text-danger">*</span></label>
        <input type="text" asp-for="CPF_CNPJ" id="CPF_CNPJ" class="form-control" placeholder="Digite o CPF do cliente" minlength="14" maxlength="14">
        @Html.ValidationMessageFor(x => x.CPF_CNPJ)
    </div>
    <div class="form-group">
        <label for="Endereco_Rua">Rua<span class="text-danger">*</span></label>
        <input asp-for="Endereco.Rua" class="form-control" placeholder="Digite o nome da rua do endereço"/>
        @Html.ValidationMessageFor(x=>x.Endereco.Rua)
    </div>

    <div class="form-group">
        <label for="Endereco_Numero">Número<span class="text-danger">*</span></label>
        <input asp-for="Endereco.Numero" class="form-control" placeholder="Digite o numero do endereço"/>
        @Html.ValidationMessageFor(x=>x.Endereco.Numero)
    </div>

    <div class="form-group">
        <label for="Endereco_Complemento">Complemento<span class="text-danger">*</span></label>
        <input asp-for="Endereco.Complemento" class="form-control" placeholder="Digite o complemento do endereço"/>
        @Html.ValidationMessageFor(x=>x.Endereco.Complemento)
    </div>

    <div class="form-group">
        <label for="Endereco_Bairro">Bairro<span class="text-danger">*</span></label>
        <input asp-for="Endereco.Bairro" class="form-control" placeholder="Digite o bairro do endereço"/>
        @Html.ValidationMessageFor(x => x.Endereco.Bairro)
    </div>

    <div class="form-group">
        <label for="Endereco_Cidade">Cidade<span class="text-danger">*</span></label>
        <input asp-for="Endereco.Cidade" class="form-control" placeholder="Digite a cidade do endereço"/>
        @Html.ValidationMessageFor(x => x.Endereco.Cidade)
    </div>

    <div class="form-group">
        <label for="Endereco_Estado">Estado<span class="text-danger">*</span></label>
        <input asp-for="Endereco.Estado" class="form-control" placeholder="Digite o estado do endereço"/>
        @Html.ValidationMessageFor(x => x.Endereco.Estado)
    </div>

    <div class="form-group">
        <label for="Endereco_Cep">CEP<span class="text-danger">*</span></label>
        <input asp-for="Endereco.CEP" class="form-control" placeholder="Digite o CEP do endereço"/>
        @Html.ValidationMessageFor(x => x.Endereco.CEP)
    </div>
    <script>
        $(document).ready(function () {
            // Máscara para CPF ou CNPJ
            $('#CPF_CNPJ').mask('000.000.000-00', {
                onKeyPress: function (cpfcnpj, e, field, options) {
                    var masks = ['000.000.000-00', '00.000.000/0000-00'];
                    var mask = (cpfcnpj.length > 14) ? masks[1] : masks[0];
                    $('#CPF_CNPJ').mask(mask, options);
                }
            });

            // Máscara para celular
            $('#Celular').mask('(00) 00000-0000');
        });
    </script>

    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Cliente" asp-action="Index" role="button">Voltar</a>
</form>

