@model VendasPorTransacaoViewModel

<div>
    <h1>Detalhes da Venda</h1>
    <p><strong>Transação ID:</strong> @Model.Transacao.Id</p>
    <p><strong>Data:</strong> @Model.Transacao.Transacao_Data</p>
    <p><strong>Cliente:</strong> @Model.Transacao.ClienteId</p>
    <p><strong>Total:</strong> @Model.Transacao.Total</p>

    <h2>Produtos</h2>
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Valor Unitário</th>
                <th>Valor Total</th>
                <th>Venda feita por</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var venda in Model.Vendas)
            {
                <tr>
                    <td>@venda.NomeProduto</td>
                    <td>@venda.Quantidade</td>
                    <td>@venda.ValorUnitario</td>
                    <td>@venda.ValorTotal</td>
                    <td>@venda.Add_Por</td>
                </tr>
            }
            <a class="btn btn-secondary btn-block" asp-controller="Vendas" asp-action="Index" role="button">Voltar</a>
        </tbody>
    </table>
</div>
