@model List<VendasModel>
@{
    ViewData["Title"] = "Listagem de vendas";
}
<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" asp-controller="Vendas" asp-action="Vender" role="button">Realizar nova venda</a>
    </div>
    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }
    <br />

    <h1 class="display-4">Listagem de vendas</h1>

    <table class="table" id="table-vendas">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome do Produto</th>
                <th scope="col">NomeCliente</th>
                <th scope="col">Valor Total</th>
                <th scope="col">Data da Venda</th>
                <th scope="col">Add_Por</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (VendasModel vendas in Model)
                {
                    <tr>
                        <th scope="row">@vendas.Id</th>
                        <td>@vendas.NomeProduto</td>
                        <td>@vendas.NomeCliente</td>
                        <td>@vendas.ValorTotal</td>
                        <td>@vendas.DataVenda</td>
                        <td>@vendas.Add_Por</td>
                    </tr>
                }
            }
            else
            {
                <tr class="add"><td valign="top" colspan="5">Nenhuma venda encontrado</td></tr>
            }
        </tbody>
    </table>
</div>

