@using FazendaUrbana.Enums
@model ProdutoModel
@{
    ViewData["Title"] = "Criar produto";
}

<div class="text-center">
   
    <h1 class="display-4">Cadastrar produto</h1>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger">
        @TempData["MensagemErro"]
    </div>
}

<form asp-controller="Produto" asp-action="Criar" method="post">

    <div class="form-group">
        <label for="nome">Nome<span class="text-danger">*</span></label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do produto">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>   
    <div class="form-group">
        <label for="descricao">Descrição<span class="text-danger">*</span></label>
        <input type="text" asp-for="Descricao" class="form-control" placeholder="Digite a descrição do produto">
        @Html.ValidationMessageFor(x => x.Descricao)
    </div>
    <div class="form-group">
        <label for="valor">Valor (R$)<span class="text-danger">*</span></label>
        <input type="text" asp-for="Valor" id="Valor" class="form-control" placeholder="R$ 0,00">
        @Html.ValidationMessageFor(x => x.Valor)
    </div>

    <div class="form-group">
        <label for="quantidade">Quantidade<span class="text-danger">*</span></label>
        <input type="number" asp-for="Quantidade" class="form-control" placeholder="Digite a quantidade do produto">
        @Html.ValidationMessageFor(x => x.Quantidade)
    </div>
    <div class="form-group">
        <label for="categoria">Categoria<span class="text-danger">*</span></label>
        <select asp-for="Categoria" class="form-control">
            <option value="">Selecione</option>
            <option value="@ProdutoEnum.Vegetais">Vegetais</option>
            <option value="@ProdutoEnum.Frutas">Frutas</option>
            <option value="@ProdutoEnum.Legumes">Legumes</option>
        </select>
        @Html.ValidationMessageFor(x => x.Categoria)
    </div>
    <script>
        $(document).ready(function () {
            // Máscara para valor em R$
            $('#Valor').mask('000.000.000,00', { reverse: true });

        });
    </script>
    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Produto" asp-action="Index" role="button">Voltar</a>
</form>

